<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>

<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>

<h2>My hero list</h2>
<ul class="heroList">
    <li *ngFor="let hero of heroesArr">
        <a routerLink="/detail/{{hero.id}}">
            <span class="heroId">{{hero.id}}</span>
            <span class="heroName">{{hero.name}}</span>
        </a>
    </li>
</ul>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->