.heroBtn {
    border: 0;
    background-color: burlywood;
    color: white;
    border-radius: 0.5rem;
    padding: 12px;
    padding-left: 0px;
    margin-bottom: 10px;
    font-size: 20px;
}

.heroBtn:hover {
    cursor: pointer;
    background-color: chocolate;
}

.heroId {
    font-weight: bold;
    margin-right: 10px;
    background-color: chocolate;
    padding: 12px;
    border-radius: 0.5rem 0 0 0.5rem;
}

.heroList {
    list-style: none;
}

.selected {
    background-color: brown;
}